<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
/>

<div class="dab">
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sites">Sites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="map">Sites Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="today">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="live">Live</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="livemap">Live Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sitedata">Site Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="stats">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dailystats">Daily Stats</a>
      </li>
    </ul>
  </nav>
</div>
